  <div class="navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag image_path("logo.jpg"), class: "navbar-logo" %>
    <% end %>

    <%= link_to root_path, class: "brand-title" do %>
      <div class="brand-title">
        PlaNet<br>_News
      </div>
    <% end %>

    <div>
      <%= form_with url: posts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control post-search",
          placeholder: "Refine your search...",
          autocomplete: 'off'
          %>
      <% end %>
    </div>

      <% if user_signed_in? %>
        <div class="navbar-icons">
          <%= link_to new_post_path, style: "text-decoration: none; color: black;" do %>
            <i class="fa-solid fa-plus fa-xl"></i>
          <% end %>
          <%= link_to destroy_user_session_path, style: "text-decoration: none; color: black;", data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-right-from-bracket fa-xl"></i>
          <% end %>
        </div>
      <% else %>
        <div class="navbar-button">
          <%= link_to "Log in", new_user_session_path, id:"login", style: "text-decoration: none; color: black;" %>
        </div>
      <% end %>
    </div>
  </div>
